* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei,
    SimSun, sans-serif;
  line-height: 1.5rem;
}
dd,
p,
h2,
h4,
ul,
dl {
  margin: 0px;
}
ul {
  padding: 0;
}
ul > li {
  list-style: none;
}
ol {
  padding-left: 1rem;
}
a {
  text-decoration: none;
}
.fab {
  width: 16px;
}

/* global */
.tag {
  display: inline-block;
  font-size: 0.8rem;
  color: #666;
  line-height: 0.8rem;
  padding: 3px 0;
  margin-left: 0.2em;
}
.inline-group {
  display: inline-block;
}
.language-options {
  position: absolute;
  top: 0.2em;
  right: 0.5em;
}
@media print {
  a {
    color: black;
  }
  .language-options {
    display: none;
  }
}

/* main container */
#resume-container {
  position: relative;
  max-width: 830px;
  margin: 0 auto;
  border: 1px solid #ddd;
}

/* base info */
#resume-baseinfo {
  display: flex;
  padding: 50px;
  background: #f3f3f3;
}
#resume-baseinfo .avatar {
  flex: 0 0 130px;
  padding: 10px;
}
#resume-baseinfo .avatar img {
  width: 100%;
  border-radius: 50%;
  background: #fff;
}
#resume-baseinfo .info {
  flex: 1 1 0;
  margin: auto 0;
}

#resume-baseinfo .info p {
  margin: 0.5em 0;
}

/* detail info */
#resume-detailinfo-wrapper {
  padding: 10px 50px;
}
.resume-detailinfo > .resume-detailinfo__title {
  padding-left: 6px;
  border-left: 2px solid lightgreen;
  font-size: 20px;
  text-transform: uppercase;
}
.resume-detailinfo > .resume-detailinfo__content {
  margin: 20px 0 20px 10px;
}

.resume-detailinfo .experience .experience__detail,
.resume-detailinfo .open-source-contributions {
  font-size: 0.8em;
  padding: 0.6em 1em;
  margin: 0.5em 0 1.5em 0;
  background: #f3f3f3;
}

.resume-detailinfo .experience .experience__detail ul,
.resume-detailinfo .open-source-contributions ul {
  padding-left: 1rem;
}

.resume-detailinfo .experience .experience__detail ul > li,
.resume-detailinfo .open-source-contributions ul > li {
  list-style: square;
}

.resume-detailinfo .experience .experience__detail ul > li::marker,
.resume-detailinfo .open-source-contributions ul > li::marker {
  color: violet;
}

.resume-detailinfo .homepages {
  overflow-wrap: break-word;
}

.skell-detail {
  margin-bottom: -0.5em;
}

.skell-detail__item {
  display: inline-block;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.2em 0.6em;
  border-radius: 0.2em;
  background: lightgreen;
  white-space: nowrap;
}

/* Responsive */
@media screen and (max-width: 660px) {
  .info {
    width: calc(100% - 130px);
  }
  .social-home-page-list li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #resume-baseinfo {
    padding: 2em 0.5em 1em;
  }
  #resume-detailinfo-wrapper {
    padding: 1em;
  }
}
