* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei,
    SimSun, sans-serif;
  line-height: 1.5rem;
}
dd,
p,
h2,
h4,
ul,
dl {
  margin: 0px;
}
ul {
  padding: 0;
}
ul > li {
  list-style: none;
}
ol {
  padding-left: 1rem;
}
a {
  text-decoration: none;
}
.fab{
  width: 16px;
}

/* global */
.tag {
  display: inline-block;
  font-size: 0.8rem;
  color: #666;
  line-height: 0.8rem;
  padding: 3px 10px;
  margin-right: 10px;
}
.inline-group {
  display: inline-block;
}

/* main container */
#cv-container {
  max-width: 830px;
  margin: 0 auto;
  border: 1px solid #ddd;
}

/* base info */
#cv-baseinfo {
  display: flex;
  padding: 50px;
  background: #f3f3f3;
}
#cv-baseinfo .avatar {
  flex: 0 0 130px;
}
#cv-baseinfo .avatar img {
  width: 100%;
  padding: 10px;
  border-radius: 50%;
}
#cv-baseinfo .info {
  flex: 1 1 0;
  margin: auto 0;
}

/* detail info */
#cv-detailinfo-wrapper {
  padding: 10px 50px;
}
.cv-detailinfo > dl {
  padding-left: 6px;
  border-left: 2px solid lightgreen;
}
.cv-detailinfo > dl > h2 {
  font-size: 20px;
}
.cv-detailinfo > dd {
  margin: 20px 0 20px 10px;
}
.cv-detailinfo .work-experience p {
  font-size: 0.8em;
  padding: 10px;
  background: #f3f3f3;
}
.cv-detailinfo .project-experience h4 {
  margin: 16px 0 6px;
  font-size: 16px;
}
.cv-detailinfo .project-experience dt {
  margin: 6px 0;
}
.cv-detailinfo .project-experience dd {
  font-size: 0.8em;
  padding: 10px;
  background: #f3f3f3;
}
.cv-detailinfo .homepages {
  overflow-wrap: break-word;
}

/* Responsive */
@media screen and (max-width: 660px) {
  #cv-baseinfo,
  #cv-detailinfo-wrapper {
    padding: 10px;
  }
}
